.list-element {
    width: 2.5vw;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    transition-duration: 0.1s;
}

.list-container {
    height: 30vh;
    display: flex;
    flex-direction: column-reverse;
}

.list-element-label {
    text-align: center;
    font-size: 0.8em;
}