@import "../colors.scss"; 

.app-config {
    width: 80%;
    height: 70vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.list-view {
    width: 100%;
    max-height: 30vh;
    overflow-y: auto;
}

.listValues {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    padding: 8px;
    font-size: 16pt;
    background-color: $light-text-color; 
}

.listValuesItem {
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
}

.btn {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnContainer {
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .list-view {
        max-height: 20vh;
    }

    .listValues {
        font-size: 11pt;
    }
}