@import "../colors.scss"; 

.vis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 50%;
    max-width: 100%;
    background-color: $light-text-color;
    box-shadow: 1px 1px 2px rgb(34, 34, 34);
    align-items: flex-end;
    padding: 20px;
    overflow: hidden;
    overflow-x:auto;
}