@import "colors.scss"; 

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $yellow;

    .instructions {
        width: 100%;
        color: $red;
    }
}

.section {
    padding: 10px;
    width: 100%;
    min-height: 90vh;
}

.code-editor {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    background-color: $red;

    .instructions {
        width: 100%;
        color: $yellow;
    }
}

.slider {
    width: 35% !important;
    font-size: 20pt !important;
    height: auto;
}

.visualizer {
    transition: visibility 0s, opacity 0.5s linear;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    overflow: hidden;
}

.footer {
    padding: 0;
    width: 100%;
}

.section-container {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.code-mirror {
    width: 80%;
    background: red;
}

.CodeMirror {
    height: 70vh !important;
}

.header {
    background: white;
}

.header-item {
    color: black !important;
}