@import "colors.scss"; 

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nav-wrapper {
    background-color: $tertiary-color !important;
    padding-left: 10px; 

    .brand-logo {
        color: $primary-color !important;
        padding-left: 10px;
        font-weight: 400;
    }
}

.main-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $primary-color;

    .instructions {
        width: 100%;
        color: $tertiary-color;
    }
}

.run-button {
    color: $light-text-color;
}



.section {
    padding: 10px;
    width: 100%;
    min-height: 90vh;
}

.code-editor {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    background-color: $tertiary-color;

    .instructions {
        width: 100%;
        color: $primary-color;
    }
}

.algo-slider {
    width: 35% !important;
    height: auto;

    input {
        border: none;

        &:focus {
            outline: none;
        }
    }
    
} 

.visualizer {
    transition: visibility 0s, opacity 0.5s linear;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    overflow: hidden;
    margin-top: 25px;
}

.footer {
    padding: 0;
    width: 100%;
}

.section-container {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: $primary-color;
}

.ace-code-editor {
    width: 80% !important;
    height: 65vh !important;
}

.header {
    background: white;
}

.header-item {
    color: black !important;
}

.thumb {
    display: none;
}


@media only screen and (max-width: 600px) {
    .ace-code-editor {
        font-size: 12pt !important;
        width: 100% !important;
    }

    .instructions h4 {
        font-size: 20pt;
    }
}